extends ../layout
block css
      link(rel='stylesheet', href='/css/cart.css')
block main
  .container
    h1.ml-5 Your Cart
    if list_item.length > 0
      table.mx-auto
        tr
            th Product name
            th Price
            th.align_center Amount
            th.align_center Option
        each item in list_item
            tr
                td #{item.productName}
                td #{item.buyPrice} M
                td.align_center 
                    input.amount(type='number', name=item.productID, min='1', max=item.quantityInStock ,value=item.amount)
                td.align_center
                  form(action="/customer/cart/delete/"+ item.productID , method= "post") 
                    button.btn.btn-danger.del-btn Delete
      a.btn.btn-primary.float-md-left.mt-3.buy-btn(href="cart/order") Buy all
    else
      h4.mt-4.ml-5(style="color:gray") Your cart is empty
block script
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src='/js/cart.js')
